@model IEnumerable<SushiPop.Models.Pedido>

@{
    ViewData["Title"] = "PedidoRealizado";
}

<h1>Pedido Realizado</h1>

@* <div>
    <p>Numero de pedido: <span></span></p>
    <p>Fecha de compra: <span></span></p>
    <p>Subtotal: <span></span></p>
    <p>Gasto de envio: <span></span></p>
    <p>Total: <span></span></p>
    <p>Estado: <span></span></p>
</div> *@

