@model IEnumerable<SushiPop.Models.CarritoItem>

@{
    ViewData["Title"] = "CarritoVacio";
    var estado = @ViewData["estado"];
}

<h1>Tu carrito aun esta activo</h1>

<p> El estado actual de tu pedido es: @estado</p>




