@model DescuentoMasHorarioVm

@{
    ViewData["Title"] = "Home Page";



}

<body>
    
    <div class="container">

        @*hero*@
        <div class="row">
            <div class="position-relative align-items-center justify-content-center">


                <img src="https://ch3301files.storage.live.com/y4mv12vXAucLb0KAdeQci335sj-UPHMUiHd6jEp0fpjH9Cz_P4Ny1Lr5rqsWbL8Gd1nXN0lmw3ccu2uui9ks_brJI8U6bXtyLcTB95D0tIZHpNcL-NGsL6SzwRoyNZldto7IIlLZxD8VQtw6lt0pU5L83jS7_7qhiHt2MX-43JaOn6xailvUMOGQtOufWMkgHtPinrCw7aRQ8ZHNzF52ygArA/bg_hero.png?psid=1&width=1440&height=380" 
                 class="img-responsive" />
                <div class="position-absolute carousel-caption">
                    <h1  style="color:#FFFFFF" class="hero-text">@Html.DisplayFor(model => model.textoDescuento)</h1>

                </div>
                
                </div>
            
                

        </div>

        @*titulo*@
        <div class="row align-items-center justify-content-center">
            <header> Los favoritos</header>
            @*<img src="https://ch3301files.storage.live.com/y4mLp6M0C4r5TvnPIbPp2AUV0KNH6ycdlIGLwd1FGcywveeSucqdRBoYCxYcn06_f9_JM0jsp79B9c8R_OGn8hhmLcA0oPbbShlzrsIz4o822RRB3Ecn4iBZUDW3FC9mjSNm6GkqNmg53K_SjtqMgdg3KXeWy2S2LGysp2a9TNgWJrathP7xpCHZlUC-K3TSFVd?encodeFailures=1&width=100&height=100" 
            class="img-fluid"/>
            *@
            </div>
        <div class="row justify-content-start">
            <div class="col-1">

            </div>
            <div class="col-5 position-relative">
                <img src="https://ch3301files.storage.live.com/y4mZkw6OvzszolPiyhWA4Hlc50xNOOMJSR2OvCH2RFs79llHvAi3U7Hmf4AA0aMXQP7kOaYIvnD30pQk9R9VtzU1pm7tNnMnfp1lZPnXT6OTtDzm_rWYPJn0IcN5uaWjm5GlLMSfZnz2sHVF0yqO9156PvM5IAF6oibgDOEXdHQM2e7DWhdL_Qt4VNYpwzuYucf?encodeFailures=1&width=750&height=350" alt="text" class="img-responsive" />
                <div class="position-absolute carousel-caption">
                    <h4 class="combos-estilos" style="color:#FFFFFF">Combo 100% salmon Alaska XL de 40 piezas</h4>
                </div>
            </div>
            <div class="col-2">

            </div>

            <div class="col-3 position-relative">
                <img src="https://chi01pap001files.storage.live.com/y4mzMBNC8IIIH2UpLcYDlX2n_XwLwHacCfqmFUEMQv-8oSM3egwCj3YxRcFBDtrxQ9PgfEJydz-ICPAU60M0y1sRlFBvchFVAuhNFgO42tyDEclUZcSFdieRqjKHK49OYDmkMVzXdt9ZLBTgGdBJuoHNlt5QkqcSOkdIc_ZFogQPv_qHXeWO7Gh22P-ibznz-7G?encodeFailures=1&width=350&height=350" alt="text" class="img-responsive" />
                <div class="position-absolute carousel-caption">
                    <h4 class="combos-estilos" style="color:#FFFFFF">Postre helado OREO</h4>
                </div>


            </div>
            <div class="col-1">

            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-1">
            </div>

            <div class="col-3 position-relative">
                <img src="https://chi01pap002files.storage.live.com/y4mlSV1bWFM3SDoBcIo-lXukOi3_FzyyXot2xFkC-gdAmxzM7MuzadHLrQIa428-yl-wrnOP8gZSUVAwbNN63OJFO0Rr5eNmDRJwRzttppQ7Bm75_GchGJ18QERKuObuZVvIjFwuP-6w7p6TuUXXkud5TzWGUXTo2r6ZGeAjUnS-xCDQPAOBaus2FeqDyUrcGeo?encodeFailures=1&width=350&height=350" alt="text" class="img-responsive" />
                <div class="position-absolute carousel-caption">
                    <h4 class="combos-estilos" style="color:#FFFFFF">Empanaditas chinas de carne</h4>
                </div>
            </div>

            <div class="col-5 position-relative">
                    <img src="https://ch3301files.storage.live.com/y4m_iqsAA6ObWeLoTZVC14dBHe_Aqj7CiV9cw2LSd0S0_czpQ78EogpZlXQaSg9CeiZ_WVLiEO0mJYVybnuKLZCA0nNIMdnx4YAqg7gSe8Jd3NdHiopyQAUuC8uNwZWNauLklcyI_ebfxunYol7ZjJcL17FCUot2pqmPMeMKoLIeT_N93ghw_q9LHkPX1VnfrLS?encodeFailures=1&width=750&height=350" alt="text" class="img-responsive" />
                <div class="position-absolute carousel-caption">
                    <h4 class="combos-estilos" style="color:#FFFFFF">Langostinos rebozados en panko fritos con salsa de tamarindo</h4>
                </div>
            </div>
            <div class="col-2">
            </div>




           
            <div class="col-1">
            </div>
        </div>
        </div>
        @*call to action*@
        <div class="row justify-content-start" style="background-color: #ef4343">
 
                <div class="col-4">
                    <h1  style="color:#FFFFFF">@Html.DisplayFor(model => model.Horarios)</h1>

                </div>
                <div class="col-4">

                </div>

                <div class="col-4">
                    <img src="https://chi01pap001files.storage.live.com/y4mgnwEOjg4cF8OoKsPXAxTBsYbr_Kcv9MG3a6-h5soapYT7xxS4iVec3m9r-zVefO_8x5ZLtUtWi4h0_kngeUYpFso4mjiS841cpWqHpK7JLWXd-fyZW7ffr1FocsvhQ-TE5rymbWC67wVYczPiHqQGCuFNa5rpDWRVb2laCAUFD8-eejs5DpsO2qgXV4untD9?encodeFailures=1&width=560&height=375" />
                </div>
               


        </div>
        
            
        
    </div>


</body>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/js/site.js"></script>