@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>

    <div class="d-flex justify-content-end align-items-center">
        <img class="position-relative" src="https://ch3301files.storage.live.com/y4mv12vXAucLb0KAdeQci335sj-UPHMUiHd6jEp0fpjH9Cz_P4Ny1Lr5rqsWbL8Gd1nXN0lmw3ccu2uui9ks_brJI8U6bXtyLcTB95D0tIZHpNcL-NGsL6SzwRoyNZldto7IIlLZxD8VQtw6lt0pU5L83jS7_7qhiHt2MX-43JaOn6xailvUMOGQtOufWMkgHtPinrCw7aRQ8ZHNzF52ygArA/bg_hero.png?psid=1&width=1440&height=380">


        <span class=" position-absolute family-colour:#FFFFFF">Hoy DD ahorrá un N% en PPP!</span>

        
    </div>


</body>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/js/site.js"></script>